<template class="task-template">
    <section>
        <h3>Please input the link of the System:</h3>
        <form>
            <input id="link_input" type="text"/>
            <button id="open_wn_btn" class="btn" type="button">Submit</button>
        </form>

        <div id="course_data"></div>

        <div>
            <p>Input the first Mondy of this term</p>
            <div>
                <div>
                    <label>Year:</label>
                    <input id="input-year" type="text" />
                </div>
                <div>
                    <label>Month:</label>
                    <input id="input-month" type="text" />
                </div>
                <div>
                    <label>Day:</label>
                    <input id="input-day" type="text" />
                </div>
            </div>
            <button type="button">Export</button>
        </div>
    </section>
    <script id="RawCourseTemplate" type="text/x-jsrender">
    <div>
        <p>UID: {{:uid}}</p>
        <p>Name: {{:name}}</p>
        <p>Teacher: {{:teacher.name}}</p>
        <p>Location: {{:location}}</p>
    </div>
    </script>

    <script>
        require("../build/render/intro.js");
    </script>

</template>