<template class="task-template">
    <section>
        <h3>请输入正方系统的网址：</h3>
        <form>
            <input id="link_input" type="text"/>
            <button id="open_wn_btn" class="btn" type="button">确认进入</button>
        </form>

        <div id="course_data"></div>

    </section>
    <script id="RawCourseTemplate" type="text/x-jsrender">
    <div>
        <p>
            <b>课程名称</b>: {{:name}}
            <br>
            <b>老师</b>: {{:teacher.name}}
            <br>
            <b>上课地点</b>: {{:location}}
            <br>
            <b>时间信息</b>: {{:timeinfo}}
        </p>
    </div>
    </script>

    <script id="DateInputTemplate">
        <div>
            <div>
                <label>请输入这个学期第一周星期一的日期</label>
                <input id="input-date" type="date" value="2016-08-29" />
            </div>
        </div>
    </script>

    <script>
        require("../build/render/intro.js");
    </script>

</template>