<!DOCTYPE html>
<html>
    <head>
        <title>SCAU Course Exporter</title>
        <link rel="stylesheet" href="style/skeleton/css/normalize.css">
        <link rel="stylesheet" href="style/skeleton/css/skeleton.css">
        <link rel="stylesheet" href="style/font-awesome/css/font-awesome.min.css">
        <link rel="import" href="sections/intro.html">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="three columns"></div>
                <div class="nine columns">
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </body>
    <script>
        require("../build/assets/imports.js")
    </script>
</html>