<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" href="../node_modules/primer-css/build/build.css">
        <link rel="import" href="sections/test.html">
    </head>
    <body>
        <div class="nav"></div>
        <h1>Please input the link of the System:</h1>
        <form>
            <input type="text"/>
            <button class="btn" type="submit">Submit</button>
        </form>

        <div class="content">

        </div>
    </body>
    <script>
        require("../build/assets/imports.js");
    </script>
</html>